header {
background-color: blue;
}

.containerProdutos {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-image: linear-gradient(to bottom, #23c023, #0d95b8);
  background-position: 80% 80%;
}

.card {
  height: 300px;
  width: 300px;
  flex: 1 1 300px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 6px 8px rgba(0,0,0,0.23);
}

.card {
  text-align: center;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.card .product .productDescription h3.product__title {
  color: yellowgreen;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card .product .productDescription span.product__price{
  color: skyblue;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo {
  font-size: 3rem;
  color: skyblue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  
}



