.containerProdutos {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 300px;
}

.card {
  flex: 1 1 300px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(83, 210, 233);
  box-shadow: 0 3px 10px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.23);
}

.card {
  text-align: center;
}

.card img {
  display: block;
  margin: 0 auto;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card img {
  max-width: 100%;
  height: auto;
}